sampling_backend/genome_all_new.jsonl
sampling_backend/taxonomy_all_new.jsonl


# Python
venv/
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Django
db.sqlite3
staticfiles/

# IDE
.vscode/
.idea/
.env
.env.*

taxonomy_all_new.jsonl
media/guest/20260217-085131-Qe2qe2I3jN/result.json
*.txt
*.json
*.zip
*.jsonl
taxonomy_name_taxid.sqlite3
